pkgbase = inkdrop
	pkgdesc = Noke-taking App with Robust Markdown Editor
	pkgver = 3.14.1
	pkgrel = 1
	url = https://www.inkdrop.info/
	arch = x86_64
	license = Commercial
	makedepends = unzip
	depends = gtk2
	depends = gconf
	depends = libnotify
	depends = libxss
	depends = libxtst
	depends = libxkbfile
	depends = nss
	depends = libgnome-keyring
	depends = gnome-keyring
	options = !strip
	source = https://d3ip0rje8grhnl.cloudfront.net/v3.14.1/Inkdrop-3.14.1-Linux.zip
	source = inkdrop.desktop
	sha256sums = 44eb7b562fe297321360e04ba011586e1c03427ea7c1d4a757ec7c1ad1bc7f0a
	sha256sums = a834e49e5361915a9790c3cb1fc418a5d614f317030f796a0341c457c6159a53

pkgname = inkdrop

